.highlight_green {
    color: lime;
    text-shadow: lime 0px 0px 10px;
}
.highlight_red {
    color: red;
    text-shadow: red 0px 0px 10px;
}
.highlight_blue {
    color: blue;
    text-shadow: blue 0px 0px 10px;
}
.highlight_yellow {
    color: yellow;
    text-shadow: yellow 0px 0px 10px;
}
.highlight_purple {
    color: purple;
    text-shadow: purple 0px 0px 10px;
}
.highlight_orange {
    color: orange;
    text-shadow: orange 0px 0px 10px;
}
.highlight_cyan {
    color: cyan;
    text-shadow: cyan 0px 0px 10px;
}
.highlight_pink {
    color: pink;
    text-shadow: pink 0px 0px 10px;
}
.highlight_gray {
    color: gray;
    text-shadow: gray 0px 0px 10px;
}
.highlight_black {
    color: black;
    text-shadow: black 0px 0px 10px;
}
.highlight_white {
    color: white;
    text-shadow: white 0px 0px 10px;
}
.highlight_brown {
    color: brown;
    text-shadow: brown 0px 0px 10px;
}
.highlight_lime {
    color: lime;
    text-shadow: lime 0px 0px 10px;
}
.highlight_teal {
    color: teal;
    text-shadow: teal 0px 0px 10px;
}
.highlight_olive {
    color: olive;
    text-shadow: olive 0px 0px 10px;
}
.highlight_navy {
    color: navy;
    text-shadow: navy 0px 0px 10px;
}
.highlight_maroon {
    color: maroon;
    text-shadow: maroon 0px 0px 10px;
}
.highlight_silver {
    color: silver;
    text-shadow: silver 0px 0px 10px;
}
.highlight_gray {
    color: gray;
    text-shadow: gray 0px 0px 10px;
}
.highlight_black {
    color: black;
    text-shadow: black 0px 0px 10px;
}
.highlight_white {
    color: white;
    text-shadow: white 0px 0px 10px;
}
.highlight_brown {
    color: brown;
    text-shadow: brown 0px 0px 10px;
}
.highlight_lime {
    color: lime;
    text-shadow: lime 0px 0px 10px;
}
.highlight_teal {
    color: teal;
    text-shadow: teal 0px 0px 10px;
}
.highlight_olive {
    color: olive;
    text-shadow: olive 0px 0px 10px;
}
.highlight_navy {
    color: navy;
    text-shadow: navy 0px 0px 10px;
}
.highlight_maroon {
    color: maroon;
    text-shadow: maroon 0px 0px 10px;
}
.highlight_silver {
    color: silver;
    text-shadow: silver 0px 0px 10px;
}
.highlight_gray {
    color: gray;
    text-shadow: gray 0px 0px 10px;
}
.highlight_black {
    color: black;
    text-shadow: black 0px 0px 10px;
}
.highlight_white {
    color: white;
    text-shadow: white 0px 0px 10px;
}
.highlight_brown {
    color: brown;
    text-shadow: brown 0px 0px 10px;
}
.highlight_orange {
    color: orange;
    text-shadow: orange 0px 0px 10px;
}
.box_highlight_lime {
    color: lime;
    box-shadow: lime 0px 0px 10px;
}
.box_highlight_red {
    color: red;
    box-shadow: red 0px 0px 10px;
}
.box_highlight_blue {
    color: blue;
    box-shadow: blue 0px 0px 10px;
}
.box_highlight_yellow {
    color: yellow;
    box-shadow: yellow 0px 0px 10px;
}
.box_highlight_purple {
    color: purple;
    box-shadow: purple 0px 0px 10px;
}
.box_highlight_orange {
    color: orange;
    box-shadow: orange 0px 0px 10px;
}
.box_highlight_cyan {
    color: cyan;
    box-shadow: cyan 0px 0px 10px;
}
.box_highlight_pink {
    color: pink;
    box-shadow: pink 0px 0px 10px;
}
.box_highlight_gray {
    color: gray;
    box-shadow: gray 0px 0px 10px;
}
.box_highlight_black {
    color: black;
    box-shadow: black 0px 0px 10px;
}
.box_highlight_white {
    color: white;
    box-shadow: white 0px 0px 10px;
}
.box_highlight_brown {
    color: brown;
    box-shadow: brown 0px 0px 10px;
}
.box_highlight_lime {
    color: lime;
    box-shadow: lime 0px 0px 10px;
}
.box_highlight_teal {
    color: teal;
    box-shadow: teal 0px 0px 10px;
}
.box_highlight_olive {
    color: olive;
    box-shadow: olive 0px 0px 10px;
}
.box_highlight_navy {
    color: navy;
    box-shadow: navy 0px 0px 10px;
}
.box_highlight_maroon {
    color: maroon;
    box-shadow: maroon 0px 0px 10px;
}
.box_highlight_silver {
    color: silver;
    box-shadow: silver 0px 0px 10px;
}
.box_highlight_gray {
    color: gray;
    box-shadow: gray 0px 0px 10px;
}