html,
body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #202124;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
.navbar {
    background-color: #2d2f33;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.title {
    color: #fff;
    font-size: 400;
}
.nav-item {
    margin-left: 20px;
    margin-right: 20px;
    padding: 2px;
}
.nav-item:hover {
    padding: 2px;
    border-bottom: 1px solid currentColor;
    text-decoration: none; 
    cursor: pointer;
}
.main-text {
    color: #fff;
    margin-inline: 15%;
    line-height: 1;
    padding: 0;
    font-size: 1.3rem;
}
.main-img {
    width: 70%;
}